%% -*- mode:erlang -*-
{erl_opts, [debug_info]}.
{plugins, [
          {beegzi_plugin, {git, "http://git.hupaul.com/paul/beegzi_plugin.git", {branch, "master"}}}
          ]}.
{deps, [
        %% {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},        
        {mnesia_cluster, {git, "https://github.com/paulzql/mnesia_cluster.git", {branch, "master"}}},
        {mysql_poolboy,  {git, "https://github.com/mysql-otp/mysql-otp-poolboy.git", {branch, "master"}}}
       %% {ranch, {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}}
]}.

{relx, [{release, {sserl, "0.1.0"}, 
         [
          sserl,
          poolboy,
          mysql,
          mysql_poolboy
         ] }]
}.
